* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.DD {
  margin: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid #363530;
  box-shadow: 0 0 20px #363530;
  border: 2px solid #363530;
  box-shadow: 0 0 20px #363530;
  position: relative; /* Lägg till position: relative för att shimmer ska fungera */
  overflow: hidden;
}

.DD img {
  width: 100%;
  max-height: 300px;
}

.DD h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.DD h4 {
  margin-top: 5px;
  font-size: 16px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
