body {
  background: linear-gradient(4deg, #d2001a, #7462ff, #f2ff62, #d2001a);
  background-repeat: repeat;
  background-attachment: fixed;
}

.showDogs {
  display: grid;
  padding: 6em;
  gap: 1em;
  object-fit: cover;
  border-color: black;

  grid-template-columns: repeat(1, 1fr);
}

.showDogs img {
  width: 100%;
  height: auto;
  object-fit: cover;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.showDogs img:hover {
  transform: none;
  box-shadow: none;
}

/* Media query för mobila enheter med en maxbredd på 768px */
@media (min-width: 768px) {
  .showDogs {
    grid-template-columns: repeat(
      4,
      1fr
    ); /* Återställ grid-template-columns för större skärmar */
  }

  .showDogs img {
    width: 250px;
    height: 250px;
  }

  .showDogs img:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }
}
