.showDog img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.showDog img {
  display: grid;
  padding: 1em;
  gap: 1em;
  border-radius: 95px;
  grid-template-rows: repeat(100, 20em);
}
.showDog {
  font-size: 10px;
}
.showDog li {
  width: 100%;
  height: 100%;

  border: 2px solid gray;
  border-radius: 1em;
  margin: 0.5em;
}
.showDog li :hover {
  color: aqua;
}
