.welcome img {
  width: 350px;
  height: 500px;
  object-fit: cover;
}
.welcome img {
  display: inline;
}
.welcome img {
  grid-template-columns: repeat(1, 1fr);
}
.welcome h1 {
  background-image: url("./img/hund2.jpg");
  color: white;
  border-radius: 65px;
}
.welcome .Button {
  font-size: 18px;
  border-radius: 90px;
}
.welcome p {
  color: black;
  font-size: 20px;
  font-style: bold;
}
.welcome img {
  width: 350px;
  height: 500px;
  object-fit: cover;
  display: inline;
  transition: transform 0.1s ease-in-out; /* Lägg till övergångseffekt för transformeringen */
}

.welcome img:hover {
  transform: scale(1.05); /* Skala upp bilden vid hovringseffekten */
  z-index: 1; /* Placera bilden överst i högen för att den ska poppa upp */
}
.welcome h1 {
  background-image: linear-gradient(to right, red, yellow, blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-radius: 65px;
  position: relative;
  overflow: hidden;
}

.welcome h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right, red, yellow, blue);
  opacity: 0.5;
  z-index: -1;
  animation: shimmer 3s 1 forwards;
  pointer-events: none;
}

@keyframes shimmer {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
