.welcome img {
  width: 350px;
  height: 500px;
  object-fit: cover;
}
.welcome img {
  display: inline;
}
.welcome img {
  grid-template-columns: repeat(1, 1fr);
}
.welcome h1 {
  background-image: url("./img/hund2.jpg");
  color: white;
  border-radius: 65px;
}
.welcome .Button {
  font-size: 18px;
  border-radius: 90px;
}
.welcome p {
  color: black;
  font-size: 20px;
  font-style: bold;
}
.welcome img {
  width: 350px;
  height: 500px;
  object-fit: cover;
  display: inline;
  transition: transform 0.1s ease-in-out; /* Lägg till övergångseffekt för transformeringen */
}

.welcome img:hover {
  transform: scale(1.05); /* Skala upp bilden vid hovringseffekten */
  z-index: 1;
}
.welcome h1 {
  background-image: linear-gradient(to right, red, yellow, blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-radius: 65px;
  position: relative;
  overflow: hidden;
}
